/* DM Sans Google Font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/* page styling */
.app {
	position: absolute;
	top: 6rem;
	left: 15%;
	font-family: 'DM Sans', sans-serif;
}
.description {
	font-size: 1.2rem;
	font-weight: 400;
	max-width: 600px;
}